@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing:border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}   

body {
     font-family: 'poppins', sans-serif;
     background-color: #FFFFFF
     ;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position:relative;
    padding-bottom: 0.75rem;
    color:blue;
}

.link a::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover  {
    background-color: #1e40af;
}
 
.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

header {
    position: relative;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

.header .content h1 {
    color:black;
    margin-bottom: 1rem;
    margin-top: 15rem;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
}

header .content p {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: blueviolet;
}
.image img{
    height: 350px;
    width: 350px;
    margin-left: 100px;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 400px;
}

.social-icons a {
    position: relative;
    font-size: 25px;
}

.social-icons a:not(:last-child) {
    margin-right: 60px;
}

.about-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 7rem;
    margin-top: -130px;
}

.about__image {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    
    overflow: hidden;
}

.about__details h1 {
    font-size: 2rem;
    font-weight: bold;

}

.about__details p {
    margin-bottom: 0.8rem;
    margin-top: 1rem;
    color:  blueviolet;
    font-size: 1.5rem;
    font-weight: bold;
}

.skill {
    min-height: auto;
    padding-bottom: 7rem;
    

}

.skill .heading {
    margin-left: 700px;
    color:black;
    font-size: 3rem;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}


.skill .skill-row {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skill-row .skill-column {

    flex: 1 0.5 25rem;
}

.skill-column .title {
    font-size: 2.5rem;
    margin-left: 250px;
    margin-right: 100px;
    

}

.skill-box .skill-content {
    position: relative;
    border: 0.2rem solid black;
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    margin-left: 70px;
    margin-right: 70px;

}

.skill-content .progress {
    padding: 1rem 0;
   
}

.skill-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skill-content .progress h3 span {
    color: blueviolet;

} 

.skill-content .progress .bar {
    height: 2rem;
    border-radius: 0.6rem;
    border: 0.2rem solid black;
    padding: 0.5rem;
    margin: 1rem 0;
    
}

.skill-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: blue;
}

.skill-column:nth-child(1) .skill-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skill-column:nth-child(1) .skill-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skill-column:nth-child(1) .skill-content .progress:nth-child(3) .bar span {
    width: 87%;
}

.skill-column:nth-child(1) .skill-content .progress:nth-child(4) .bar span {
    width: 90%;
}

.skill-column:nth-child(2) .skill-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skill-column:nth-child(2) .skill-content .progress:nth-child(2) .bar span {
    width: 65%;
}

.skill-column:nth-child(2) .skill-content .progress:nth-child(3) .bar span {
    width: 70%;
}

.skill-column:nth-child(2) .skill-content .progress:nth-child(4) .bar span {
    width: 80%;
}



.profile-container {
   display: flex;
   gap: 2rem;
}

.profile-profileimg {
    height: 450px;
    width: 450px;
    margin-left: 200px;
    border: 1px solid black;
    
}

.resume h1 {
    margin-top: 10px;
    font-size: 3rem;
    margin-left: 800px;
    
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-name-firstname {
    color:black;
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    margin-top: -400px;
}

.profile-title {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase ;
    margin-left: 800px;
    margin-top: 10px;
    
    font-weight: 700;
}

.profile-description {
    font-size: 2rem;
    color: blueviolet;
    font-weight: 500;
    margin-left: 800px;
    
    margin-top: 10px;
}

.downloadbtn {
    display: block;
    color:#FFFFFF;
    background-color: blue;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    margin-left: 800px;
    margin-right: 550px;
}
.downloadbtn:hover {
     background-color: blue;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 600px;
    text-align: center;
}

.contact .content h2 {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 500;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 300px;
   
}

.contact-container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contactInfo .box {
    position: relative;
    padding: 20px 20px;
    margin-right: 200px;
    display: flex;
}

.contact-container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background:white;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    font-size:2rem;
}

.contact-container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: black;
    flex-direction: column;
    font-weight: 500;
}
.contact-container .contactInfo .box .text h3 {
    font-weight: 800;
    color: #1f618d;
}

.contactForm {
    width: 30%;
    padding: 40px;
    background: #a9cce3;
    margin-left: -200px;
    margin-top: 100px;
  
}

.contactForm h2 {
    font-size: 30px;
    color: #1f618d;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;

    
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.4s;
    color: #884EA0;
    font-weight: 500;
}


.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #5499c7;
    font-size: 16px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #2874a6;
    color: black;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 16px;
}

footer {
    background-color: #a9cce3;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons {
    display: flex;
    justify-content: center;

}

.socialicons a {
    text-decoration: none;
    padding:10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 2rem;
    color:black;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #5499c7;
    transition: 0.7s;
}

.socialicons a:hover i {
    background-color: white;
    transition: 0.7s;
}

.footernav {
    margin:30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 1;
    transition: 0.5s;

}

.footernav ul li a:hover {
    opacity: 1;
}

.footerbottom {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color:aliceblue;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px 5px;
    color:#fff;
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    .footernav ul {
        flex-direction: column;
    }

    .footernav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}